@model E_Doctor1.Models.UserCred

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="text-center">
        <h1 class="display-4">Καλώς ήρθατε στην σελίδα E-Doctor.</h1>
        <p>Θέλετε να κλείσετε ένα ραντεβού; </p>
        <p>Συνδεθείτε ή δημιουργήστε έναν λογαριασμό.</p>

    </div>


    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <label for="uname"><b>Username</b></label> <br />
        <div>@Html.TextBoxFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })</div>

        <br />
        <div>@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })</div>

        <label for="psw"><b>Password</b></label><br />

        <div>@Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })</div>
        <div>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</div>



        <button type="button" onclick="window.location = '@Url.Action("Login","Home")'">Σύνδεση</button><br /><br />
        <button type="button" onclick="location.href='@Url.Action("Index","PatientRegister")'">Εγγραφή</button>

        <button type="button" onclick="location.href='@Url.Action("Index","PatientMainPage")'">PatientHomePage</button><br /><br />


    </div>


}