@model  ErgasiaMVC.Models.Appointment

@{
    ViewBag.Title = "ViewAppointmentsPatient";
}

<div class="user-credentials">
    <input type="button" value="Αποσύνδεση" onclick="location.href='@Url.Action("Index","Home")'" />
</div>

<h2>Προβολή Ραντεβού</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Full Name</th>
            <th scope="col">Amka</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Date</th>
            <th scope="col">Hours</th>
            <th scope="col">Appointment Category</th>
        </tr>
    </thead>
    <!--<tbody> prepei na yparxoyn getters kai setters ston const allios ...
        @foreach (var c in Model.) 
        {
            <tr>
                <td>@c.appointment_id</td>
                <td>@c.availableDate</td>
                <td>@c.patient</td>
                <td>@c.doctor</td>
                <td>@c.status</td>  
            </tr>
        }
    </tbody>-->
</table>

