@model E_Doctor1.Models.ListModel<ErgasiaMVC.Models.AvailableDate>
@{
    ViewBag.Title = "AvailableDates";
}

<style>
    td, th {
        padding: 20px;
        border: 2px solid black;
        text-align: center;
    }

    th{
        background-color: lightgrey;
    }
</style>

<h1>Τα Διαθέσιμα Ραντεβού σας</h1>

<table>
    <tr>
        <th>Δευτέρα</th>
        <th>Τρίτη</th>
        <th>Τετάρτη</th>
        <th>Πέμπτη</th>
        <th>Παρασκευή</th>
    </tr>
    <tr>
    @for (int i = 1; i < 6; i++)
    {
        bool found = false;
        foreach (var el in Model.Items)
        {
            if (el.getDay() == i)
            {
                found = true;
        <td>
            @el.Starting_time.ToString(@"hh\:mm") - @el.Ending_time.ToString(@"hh\:mm")<br />
            @using (Html.BeginForm("EditAvailableDate", "DoctorMainPage", FormMethod.Get))
            {
                <input type="hidden" value="@el.Id" name="available_date_id" />
                <input type="submit" value="Επεξεργασία" />
            }
        </td>
            }
        }


        if (!found)
        {
    <td>
        @using (Html.BeginForm("AddAvailableDate", "DoctorMainPage", FormMethod.Get))
        {
            <input type="hidden" value="@Model.doctor.user_id" name="doctor_id" />
            <input type="hidden" value="@i" name="day" />
            <input type="submit" value="Προσθήκη" />
        }
    </td>
        }
    }

    </tr>
</table>



