@model ErgasiaMVC.Models.AvailableDate
@{
    ViewBag.Title = "AddAvailableDate";
}

<style>
    input[type=text] {
        width: 25px;
    }
</style>


<h1>Επεξεργασία Διαθέσιμου Ραντεβού</h1>

@using (Html.BeginForm())
{
<div class="container">
    <div>Μέρα: @Model.getDay()</div>
    <div>Γιατρός: @Model.doctor.getFirstname() @Model.doctor.getLastname()</div>
    <label for="uname"><b>Ώρα εκκίνησης</b></label> <br />
    <div>
        <input type="text" name="starting_hours" value="@Model.Starting_time.Hours"/> :
        <input type="text" name="starting_minutes" value="@Model.Starting_time.Minutes" />
    </div>
    <br />
    <label for="psw"><b>Ώρα τέλους</b></label> <br />
    <div>
        <input type="text" name="ending_hours" value="@Model.Ending_time.Hours"/> :
        <input type="text" name="ending_minutes" value="@Model.Ending_time.Minutes"/>
    </div>

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.doctor.user_id)
    @Html.HiddenFor(model => model.doctor.first_name)
    @Html.HiddenFor(model => model.doctor.last_name)
    @Html.HiddenFor(model => model.doctor.Username)
    @Html.HiddenFor(model => model.doctor.email)
    @Html.HiddenFor(model => model.doctor.amka)
    @Html.HiddenFor(model => model.doctor.phone_number)
    @Html.HiddenFor(model => model.doctor.specialty)
    <br />
    <button type="submit">Αποθήκευση</button> <button type="button" onclick="location.href='@Url.Action("DeleteAvailableDate","DoctorMainPage", new { available_date_id = Model.Id })'">Διαγραφή</button><br /><br />

</div>
}

